.sql-editor-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.sql-editor {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
}

/* 移除原有的 toolbar 相关样式 */

/* 快捷键提示样式 */
.shortcut-tooltip {
  display: flex;
  align-items: center;
  padding: 4px 0;
}

.shortcut-icon {
  font-size: 1.5em !important;
  margin-left: 4px;
  margin-right: 2px;
}

.shortcut-plus {
  margin: 0 2px;
}
