.historyItem {
  padding: 0px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  background-color: rgb(251, 248, 248);
  border-radius: 10px!important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  margin-left: 6px;
  margin-right: 6px;
}

.historyItem:hover {
  background-color: #e2e3e4b7;
}

.active {
  background-color: #e2e3e4;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-size: 14px;
  color: #333;
  padding-left: 6px;
  width: 100%;
}

.infoContainer {
  display: flex;
  align-items: center;
  padding-left: 6px;
  gap: 8px;
  font-size: 12px;
  color: #999;
}

.dateInfo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tagsContainer {
  display: flex;
  gap: 2px;
}

.tag {
  font-size: 11px;
  padding: 0 4px;
  font-family: var(--font-mono) !important;
  line-height: 16px;
}

.actions {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 6px;
  opacity: 0;
  transition: all 0.3s ease;
}

.historyItem:hover .actions {
  opacity: 1;
}

.actions button {
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.actions button:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transform: scale(1.05);
}

.editContainer {
  display: flex;
  width: 100%;
  gap: 8px;
  align-items: center;
}

.editContainer input {
  flex: 1;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  padding: 4px 8px;
  transition: all 0.3s;
}

.editContainer input:focus {
  border-color: #1677ff;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  outline: none;
}

/* 删除确认对话框样式 */
.deleteModal {
  width: 320px !important;
}

.tutorial {
  background-color: rgba(24, 144, 255, 0.1);
  border-left: 3px solid #1890ff;
}

.tutorial:hover {
  background-color: rgba(24, 144, 255, 0.2);
}

.moreButton{
  opacity: 0;
  transition: all 0.3s ease;
  font-size: 1.3em;
  margin-right: 6px;
}

.historyItem:hover .moreButton{
  opacity: 1;
}