.searchContainer {
  margin-left: 1rem;
}

.searchIcon {
  cursor: pointer;
  font-size: 1em;
  padding: 8px;
  transition: all 0.3s;
}

.searchIcon:hover {
  color: #1890ff;
}

.searchInput {
  width: 8em;
  transition: all 0.3s;
  border-radius: 10px;
  background-color: #f7f3f3;
}

.searchInput:focus {
  width: 10em;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
